/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/

/*body {*/
/*margin: 3em;*/
/*}*/
.main-c {
}

.logo-img {
    width: 50%;
}

.logo-position {
    background: linear-gradient(to top, #f0f0f0 25%, transparent 0),
    linear-gradient(to bottom, #f0f0f0 25%, transparent 0),
    white;
    text-align: center;
}

.bottombox {
    background-color: #f0f0f0;

}

.name {
    /*font-weight: lighter;*/
    font-size: 70px;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.navigation > div {
    font-size: 25px;
    text-align: center;
    font-family: 'Abel', sans-serif;
    /*max-width: 80%;*/
}

.navigation {
    margin: 0 auto;
    max-width: 80%;
}

.secondheader {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    text-align: center;
}

.location {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    text-align: center;
}

.egg {
    border: 8px solid white;
    color: white;
    font-size: 2em;
    /*sm - 1em*/
    text-align: center;
    border-radius: 100%;
    width: 100%;
    font-family: 'Anton', sans-serif;
}

/*https://stackoverflow.com/a/21538018/504845 - makes our circles*/
.egg:before {
    content: "";
    padding: 50% 0;
    vertical-align: middle;
    display: inline-block;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A;
}

.green {
    background-color: #7CB06C;
}

.teal {
    background-color: #00ABA9;
}

.laptop {
    max-width: 100%;
}

.small-circle {
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
    padding: 25px;
    /*width: 10px;*/
    /*height: 10px;*/
}

.smallred {
    background-color: #E6563B;
}

.smallorange {
    background-color: #EB9D3A;
}

.smallgreen {
    background-color: #7CB06C;
}

.smallteal {
    background-color: #00ABA9;
}

.selected-work img.work {
    width: 100%;

}

.the-last img {
    width: 50px;
}

.selected-img {
    width: 100%;
    border: 7px solid #e6e6e6;
    border-radius: 5px;

}

.underPicture {
    font-size: .6em;
}

.small-icons {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    font-family: Anton;
    /*margin-left: 5px;*/
}

svg {
    margin: 1.5px;
}

.last-img {
    width: 80%;
    border: 2px solid #e6e6e6;
    margin-bottom: 30px;
}

.tweet {
    height: 25px;
    width: 25px;
}

.last-para {
    font-family: Anton;
    font-weight: bold;
    font-size: 28px;
}

.mtweet {
    margin-top: 30px;
    margin-bottom: 0;
}

.last-p {
    font-size: 9px;
    padding: 0;
}

.tsize {
    height: 30px;
}

.pic-m {
    margin-top: 30px;
}

.title-m {
    margin-top: 40px;
    margin-bottom: 20px;
}

hr {
    margin-top: 40px;
}

/*.navbar {*/
/*text-align: center;*/
/*list-style-type: none;*/
/*display: inline-block;*/
/*}*/
/**/
/*li {*/
/*display: inline-block;*/
/*}*/

/*need to correct font size on small display because DEVELOP and SUPPORT did't fit our circles */
@media screen and (min-width: 580px) and (max-width: 767px) {
    .egg {
        font-size: 1em;
    }

    .work-h {
        text-align: center;
        font-family: Abel;
        font-size: 15px;
        margin-top: -20px;
        margin-bottom: 15px;

    }

    .name {
        font-size: 30px;
    }

    .secondheader {
        font-size: 40px;
    }

    .location {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .logo-img {
         height: 105px;
        width: 105px;

}

}

@media screen and (max-width: 580px) {
    hr {
        display: none;
    }

    .xsmall-h {
        margin-top: 190px;
        text-align: center;
        margin-bottom: 60px;
        font-size: 30px;
        font-family: Abel;
    }

    .end-small {
        font-family: Abel;
        font-size: 30px;
        margin-top: 10px;
    }

    .laptop {
        border: 10px solid #e6e6e6;
        border-radius: 5px;
    }

    .end-text {
        font-size: 20px;

    }

    .small-icons {
        margin-left: 5px;
    }

    .small-nav {

        /*margin-right: 5px;*/
    }

    .navigation {
        font-size: 15px;
        margin-bottom: 100px;
    }

    .location {
        margin-top: 50px;
        margin-bottom: 50px;
    }

}
